.buttons-reset_filter {
  background-color: #555555;/* Black */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 2px 2px;
  cursor: pointer;
  border-radius: 4px;}
}
.filter_section {
  transition-duration: 0.4s;
}

.filter_section {
  background-color: #4CAF50; /* Green */
  color: white;
}

*/.filter_section {
  float: left;
}/*

