.reset_filter {
  background-color: #f44336; /* Red */
  border: none;
  color: white;
  padding: 6px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 1px 1px;
  cursor: pointer;
  border-radius: 4px;
  float: left;
}


.filter_by_keyword {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 1px 1px;
  cursor: pointer;
  border-radius: 4px;
  float: left;
}

.filter_by_keyword:hover {
  background-color: #3e8e41;
}
  
  
.filter_by_year {
  background-color: #008CBA; /* Blue */
  border: none;
  color: white;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 2px 2px;
  cursor: pointer;
  border-radius: 4px;
  float: left;
}

